body {
  background-color: black;
  color: white;
  font-family: 'Arvo', serif;
  margin: 0;
  padding: 0;
}

a {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 0.1em 0.2em;
}

.hello {
  font-size: 4em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.i-am {
  font-size: 2.2em;
  font-weight: normal;
  margin-top: 0;
}

.main {
  margin: 2.5em 1.5em;
  max-width: 960px;
  margin: 0 auto;
}

.about {
}

.social {
}

.skills {
  padding: 0;
  margin: 0;

  .skill {
    background: white;
    color: black;
    display: inline-block;
    padding: 0.3em;
    margin-right: 0.3em
  }
}

.jobs {
  
  .job {

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
